/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    General
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

    *{
        box-sizing:border-box;
    }

    body{
        width:100%;
        height:100%;
        background: #000;
        color:#fff;
    }

    #container{
        width:100%;
        height:100%;
        position:absolute;
        top:0px;
    }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Start Menu
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

    #startMenu{
        width:30%;
        text-align:center;
        font-size:24pt;
        top:300px;
        position:relative;
        margin:0 auto;
    }

    #startMenu *{
        margin:0 auto;
        display:block;
    }

    .menuItem{
        cursor: pointer;
        position:absolute;
        text-align: center;
        width:100%;
    }

    /* Hidden fields*/
    .noHeight{ 
        height: 0px;
        overflow:hidden;
        font-size: 12pt;
    }

    #newGame{
        top:0px;
    }

    #newGameHidden{
        top:40px;
    }

    #loadGame{
        top:150px;
    }

    #loadGameHidden{
        top:190px;   
    }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Ship Builder
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

    #shipBuilder{
        min-width:700px;
        height:600px;
        background:#222;
        position:absolute;
        top:30px;
        left:30px;
        right:30px;

    }

    #shipBase{
        width:200px;
        height:auto;
        position: absolute;
        left:100px;
        top:70px;
    }

    #parts{
        width:300px;
        height:540px;
        position:absolute;
        right:30px;
        top:30px;
        background:#ccc;
    }

    .part{
        width:80px;
        min-height:100px;
        overflow: hidden;
        margin:15px;
        display: inline-block;
        float:left;
        color:#000;
        text-align: center;
    }

    .part img{
        width:50px;
        height:auto;
        margin:15px;
        cursor: pointer;
    }

    #setShip{
        position:absolute;
        bottom:50px;
    }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Graphics
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

    /*//////////////////////////////////////////////////////////////////////
        Stars
    //////////////////////////////////////////////////////////////////////*/

        .star{
            fill:#fff;
        }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Responsive
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

    /* Phone */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){

    }

    /* Tablet */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {

    }