/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    General
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

body{
    background: #000;
    color:#fff;
}

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Start Menu
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

#startMenu{
    width:100%;
    text-align:center;
    font-size:24pt;
}

#startMenu *{
    margin:0 auto;
    display:block;
}

.menuItem{
    cursor: pointer;
}

/* Hidden fields*/
.noHeight{ 
    height: 0px;
    overflow:hidden;
    font-size: 12pt;
}

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Responsive
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/


/* Phone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){

}

/* Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}